@model IEnumerable<Microsoft.Graph.Message>
@{
    ViewBag.Title = "Sent";
    Layout = null;
}

<h2></h2>

<table id="inbox-table" data-ng-init="sentit()" class="table table-striped table-hover">
    <tbody>
        @{
            var count = 0;
        }
        @foreach (var item in Model)
        {
            count = count + 1;
            var id = item.Id;
        <tr onclick="OpenDetail(@count);" id="msg1" class="unread" data-ng-repeat="email in EMails">
            <td class="inbox-table-icon">
                <div class="checkbox">
                    <label>
                        <input type="hidden" value="@item.Id" id="@count" />
                        <input type="hidden" id="mailid" value="@Html.DisplayFor(modelItem => item.From.EmailAddress.Name)" />
                        <input type="checkbox" ng-click="CheckEmail(email.id)" value="email.id" class="checkbox style-2">
                        <span></span>
                    </label>
                </div>
            </td>
            <td onclick="OpenDetail(@count);" class="inbox-data-from hidden-xs hidden-sm">
                <div>
                    @Html.DisplayFor(modelItem => item.ToRecipients)

                </div>
            </td>
            <td onclick="OpenDetail(@count);" class="inbox-data-message">
                <div>
                    @Html.DisplayFor(modelItem => item.Subject)
                </div>
            </td>
            <!--<td class="inbox-data-attachment hidden-xs">
                <div>
                    <a href="javascript:void(0);" rel="tooltip" data-placement="left" data-original-title="FILES: rocketlaunch.jpg, timelogs.xsl" class="txt-color-darken"><i class="fa fa-paperclip fa-lg"></i></a>
                </div>
            </td>-->
            <td onclick="OpenDetail(@count);" class="inbox-data-date hidden-xs">
                <div>
                    @{ var date = item.ReceivedDateTime.Value.Date.ToString("dd-MM-yyyy"); }
                    @Html.DisplayFor(modelItem => date)
                </div>
            </td>
        </tr>

        }
    </tbody>
</table>


<style>
    tr:hover td {
        background-color: #000;
        color: white;
    }
</style>


<script>
    $("#inbox-table [rel=tooltip]").tooltip();

    $("#inbox-table input[type='checkbox']").change(function () {
        $(this).closest('tr').toggleClass("highlight", this.checked);
    });

</script>
<script src="~/Scripts/MyScripts/Sent.js"></script>